<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .image-thumbail {
            height: 200px;
            object-fit: cover;
        }

        .list-group-item a {
            text-decoration: none;
            color: black;
        }
        
        .adjust-style{
            margin: 10px;
            /* flex-flow: column wrap; */
            overflow: hidden;
        }
    </style>
</head>

    <div class="container" style="padding-top: 50px;">
        <div class="row">
            <div class="col-md-3">
                {% if request.user.is_authenticated %}
                <p>Your RoomCode:<br> <strong>{{request.user}}</strong></p>
                <p>Photos Uploaded:<br> <strong>{{count}}</strong></p>
                <p>GPU Acceleration Available: <br> <strong>{{GPU}}</strong> </p>
                {% endif %}
                
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <form method='POST' action="/" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group m-3">
                                <label>Upload image</label>
                                <input required name="images" type="file" multiple webkitdirectory directory class="form-control-file">
                            </div>
                            <button type='submit' class="btn btn-primary m-3">Submit</button>
                        </form>
                    </ul>
                </div>
                <br>
            <form method="POST" action="{% url 'process' %}">
                    {% csrf_token %}
                <div class="card">
                    <div class="adjust-style">
                    <p>Select Appropriate Model:</p>
                    <select name="models" id="models">
                        <option value="mediapipe">MediaPipe(Recommended for CPU users)</option>
                        <option value="yolov7">YOLOV7(Recommended for cuda enabled GPU users)</option>
                        <option value="yolov7w6">YOLOV7(High-End)(Recommended for cuda enabled GPU users)</option>
                      </select>
                    </div>
                </div>

                <div class="card">
                    <div class="adjust-style">
                        <p>Select Appropriate Parameters for Clustering</p>
                        <label for="minSize">Min Cluster Size </label>
                        <input id="minSize" type="number" name="Size" min="2" value="10" />
                    </div>
                </div>

                <div class="card">
                    <ul class="list-group list-group-flush">
                        <button class="btn btn-dark btn-block btn-sm m-1" type="submit">Process</button>
                        <a href="{% url 'logout' %}" class="btn btn-dark btn-block btn-sm m-1">Logout</a>
                    </ul>
                </div>
            </form>

            </div>
            <div class="col-md-9">
                <div class="row">

                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card my-2" style="position: relative">
                            <img class="image-thumbail" src="{{photo.image.url}}" alt="Card image cap">
                            
                            <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
                            
                            <form method='POST' action="{% url 'delete' photo.id %}">
                                {% csrf_token %}      
                                <input type="image" src="https://i.imgur.com/uwjl1lM.png" width="30" height="30" style="position: absolute; top: 7px; right: 7px"/>
                            </form>
                            

                        </div>
                    </div>
                    {% empty %}
                    <h3>No photos...</h3>
                    {% endfor %}



                </div>
            </div>
        </div>
    </div>

</body>

</html>
