<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>SignIn</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
    <script>
      function CopyToClipboard(id)
      {
      var r = document.createRange();
      r.selectNode(document.getElementById(id));
      window.getSelection().removeAllRanges();
      window.getSelection().addRange(r);
      document.execCommand('copy');
      window.getSelection().removeAllRanges();
      }
      </script>
  </head>

  <body class="text-center">
   
    <form class="form-signin" method="post" action="/register2">
    {% csrf_token %}
      <img src="https://i.imgur.com/ACSFEPZ.png" alt="" width="256" height="256">
      
      <h1 class="h3 mb-3 font-weight-normal">Room Creation</h1>
      
      <h4>Your unique RoomCode</h4>
      <h5 id="sample">{{rcode}}</h5>
      <a href="#" onclick="CopyToClipboard('sample');return false;"><button type="button" class="btn btn-outline-info">Copy RoomCode</button></a>
      <br>
      <p>Set a password for your room</p>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <a href="/login">Back to Login</a>
      
    </form>
  
</body>
</html>
